.sidebar-hamburger {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  background-color: #1A252F;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  z-index: 1002;
}

.sidebar-item {
  padding: 15px 20px;
  color: #1ab188;
  text-decoration: none;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}

.sidebar-item i {
  margin-right: 10px;
}

.sidebar-item:hover {
  color: #83ffde;
}

.close-btn {
  background: none;
  border: none;
  font-size: 2rem;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1005;
}

.close-btn:hover {
  color: #6ed6ba;
}

.menu-icon {
  font-size: 2rem;
}
