.history-page,
.history-page2 {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color: #1ab188;
    font-family: 'Arial', sans-serif;
    align-items: center;
    position: relative;
    min-height: 100vh;
    min-width: 100vh;
}


.history-page2 h3,
.history-page h3 {
    font-size: 2rem;
}

.history-page2 {
    position: relative;
    bottom: 100px;
}

.history-page label {
    font-size: 3.5rem;
    font-weight: 600;
    color: #1ab188;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -70px;
}

.dates-numbers-container {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.dates, .numbers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 13px;
    height: 5%;
    width: 10%;
}

.dates h3, .numbers h3 {
    font-size: 0.9rem;
    margin: 0;
    color: #fff;
}

.dates input, .numbers input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #538173;
    border-radius: 8px;
    outline: none;
    background-color: #132e2f;
    color: #fff;
    width: 100%;
}

.dates input:focus, .numbers input:focus {
    border-color: #1ab188;
    box-shadow: 0 0 5px rgba(102, 230, 185, 0.438);
}

.dates {
    position: relative;
    bottom: 30px;
    left: 270px;
    padding: 0%;
}

.dates h3 {
    position: relative;
    font-size: 0.9rem;
    bottom: -10px;
}

.numbers {
    position: relative;
    bottom: 20px;
    left: 100px;
    padding: 0%;
    height: 100%;
}

.numbers h3 {
    position: relative;
    font-size: 0.9rem;
    bottom: -10px;
}

.filter-button,
.select-category-button {
    font-size: 1rem;
    color: #fff;
    background-color: #1ab188;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 70px;
    margin-bottom: 60px;
}

.select-category-button {
    position: relative;
    bottom: 60px;
    left: -100px;
}

.filter-button {
    position: relative;
    bottom: -25px;
    left: -460px;
}


.react-datepicker {
    background-color: #184346;
    border: 1px solid #1ab188;
    border-radius: 8px;
    color: #ffffff;
}

.react-datepicker__header {
    background-color: #1ab192;
    border-bottom: 1px solid #6ed6ba;
    color: #ffffff;
}

.react-datepicker__current-month,
.react-datepicker__day-name {
    color: #ffffff;
}

.react-datepicker__day {
    color: #1ab188;
}

.react-datepicker__day:hover {
    background-color: #6ed6ba;
    color: #ffffff;
}

.react-datepicker__day--selected {
    background-color: #1ab188;
    color: #ffffff;
}

.react-datepicker__time-container {
    color: #ffffff;
    background-color: #132e2f;
    border-left: 1px solid #1ab188;
}

.react-datepicker__time-list-item {
    color: #1ab188;
    background-color: #184346;
}

.react-datepicker__time-list-item:hover {
    background-color: #6ed6ba;
}

.react-datepicker__navigation {
    background-color: transparent;
    border: 1px solid #1ab188;
}

.react-datepicker__navigation:hover {
    background-color: #6ed6ba;
}

.react-datepicker__year-dropdown,
.react-datepicker__month-dropdown {
    background-color: #184346;
    border: 1px solid #1ab188;
    border-radius: 15px;
    height: 180px;
    overflow-y: auto;
}

.react-datepicker__year-option,
.react-datepicker__month-option {
    background-color: #184346;
    color: #1ab188;
}

.react-datepicker__year-option:hover,
.react-datepicker__month-option:hover {
    background-color: #6ed6ba;
    color: #ffffff;
}

.react-datepicker-popper {
    margin-top: -30px;
    transform: translateX(-10px);
}

.react-datepicker__navigation--years-previous {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.react-datepicker__navigation--years-previous:hover {
    background-color: #6ed6ba00;
    color: #ffffff00;
    border-radius: 0;
}

.react-datepicker__year-dropdown .react-datepicker__year-option:last-child {
    background-color: none;
    color: #ffffff;
    font-weight: bold;
    border-radius: 8px;
    position: relative;
}

.react-datepicker__year-dropdown .react-datepicker__year-option:last-child::after {
    content: "\f063";
    font-family: "Font Awesome 5 Free";
    color: #ffffff;
    position: absolute;
    top: 20%;
}

.react-datepicker__year-dropdown .react-datepicker__year-option:last-child:hover {
    background-color: #6ed6ba;
    color: #ffffff;
}

.react-datepicker__year-dropdown .react-datepicker__year-option:first-child {
    background-color: none;
    color: #ffffff;
    font-weight: bold;
    border-radius: 8px;
    position: relative;
}

.react-datepicker__year-dropdown .react-datepicker__year-option:first-child::after {
    content: "\f062";
    font-family: "Font Awesome 5 Free";
    color: #ffffff;
    position: absolute;
    top: 20%;
}

.react-datepicker__year-dropdown .react-datepicker__year-option:first-child:hover {
    background-color: #6ed6ba;
    color: #ffffff;
}

.react-datepicker__navigation--years-upcoming {
    background-color: transparent;
    border: none;
    box-shadow: none;
}




.table-content {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1rem;
    text-align: left;
    background-color: none;
    color: #1ab188;
    overflow: hidden;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: auto;
    position: relative;
    bottom: 50px;
} 
.table-content::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.table-content::-webkit-scrollbar-thumb {
    background-color: #1ab188;
    border-radius: 10px;
}

.table-content::-webkit-scrollbar-thumb:hover {
    background-color: #6ed6ba;
}

.table-content::-webkit-scrollbar-track {
    background-color: #0d2628;
}

.tableD {
    width: 100%;
    max-height: 500px;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1rem;
    text-align: left;
    background-color: #0d2628;
    color: #1ab188;
    border: 1px solid #1ab188;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.tableD th, .tableD td {
    padding: 12px 16px;
    border: none;
}

.tableD th {
    background-color: #1ab192;
    color: #184346;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.tableD td {
    background-color: #0f484c;
    color: #1ab188;
}