.income-page {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #184346;
    color: #1ab188;
    font-family: 'Arial', sans-serif;
    align-items: center;
    position: relative;
    min-height: 100vh;
    min-width: 100vh;
}

.income-page label {
    font-size: 3rem;
    font-weight: 600;
    color: #1ab188;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -70px;
}

.Buttons1 {
  padding: 8px 16px;
  font-size: 1rem;
  color: #fff;
  background-color: #1ab188;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.Buttons1:hover{
  background-color: #6ed6ba;
}



.add-income-dialog {
    border: none;
    padding: 20px;
    border-radius: 8px;
    background-color: #184346;
    color: #1ab188;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .add-income-dialog input,
  .add-income-dialog .datepicker {
    margin-bottom: 10px;
    width: 100%;
  }


  
.search-container {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container input {
    padding: 10px 16px;
    font-size: 1rem;
    color: #1ab188;
    background-color: #184346;
    border: 1px solid #1ab188;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    width: 100%;
    max-width: 500px;
}

.search-container input::placeholder {
    color: #6ed6ba;
    font-style: italic;
}

.search-container input:focus {
    border-color: #6ed6ba;
    box-shadow: 0 0 8px #6ed6ba;
}




.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1rem;
    text-align: left;
    background-color: #184346;
    color: #1ab188;
    border: 1px solid #1ab188;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.table th, .table td {
    padding: 12px 16px;
    border: 1px solid #1ab188;
}

.table th {
    background-color: #1ab188;
    color: #184346;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.table td {
    background-color: #184346;
    color: #1ab188;
}

.table tr:nth-child(even) {
    background-color: #205a5c; /* Diferente tono para las filas pares */
}

.table tr:hover {
    background-color: #1ab188;
    color: #184346;
    transition: background-color 0.3s, color 0.3s;
}

.table .three-dots {
    background: none;
    border: none;
    color: #1ab188;
    cursor: pointer;
    transition: color 0.3s;
}

.table .three-dots:hover {
    color: #6ed6ba;
}

.table .three-dots i {
    font-size: 1.2rem;
}



.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 20px;
    background-color: #0f393a; /* Fondo oscuro */
    border: 1px solid #1ab188;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}

.chart-container canvas {
    max-width: 100%;
    max-height: 300px;
}

.chart-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1ab188;
    margin-bottom: 10px;
}





