.income-page {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color: #1ab188;
    font-family: 'Arial', sans-serif;
    align-items: center;
    position: relative;
    min-height: 100vh;
    min-width: 100vh;
}

.income-page label {
    font-size: 3rem;
    font-weight: 600;
    color: #1ab188;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -70px;
}

.add-income-dialog {
    z-index: 200;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #184346;
    border-radius: 8px;
    border: none;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    color: #1ab188;
}

.add-income-dialog input,
.add-income-dialog .datepicker {
    margin-bottom: 15px;
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #1ab188;
    border-radius: 8px;
    outline: none;
    background-color: #132e2f;
    color: #fff;
}

.add-income-dialog input::placeholder {
    color: #a0b3b0;
    font-style: italic;
}

.add-income-dialog input:focus {
    border-color: #6ed6ba;
    box-shadow: 0 0 5px rgba(102, 230, 186, 0.8);
}

.add-income-dialog button {
    padding: 10px 15px;
    font-size: 1rem;
    color: #fff;
    background-color: #1ab188;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.add-income-dialog button:hover {
    background-color: #6ed6ba;
}

.add-income-dialog .Buttons1 {
    margin-left: 27px;
    font-size: 1rem;
    color: #fff;
    background-color: #1ab188;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.react-datepicker {
    background-color: #184346;
    border: 1px solid #1ab188;
    border-radius: 8px;
    color: #ffffff;
}

.react-datepicker__header {
    background-color: #1ab192;
    border-bottom: 1px solid #6ed6ba;
    color: #ffffff;
}

.react-datepicker__current-month,
.react-datepicker__day-name {
    color: #ffffff;
}

.react-datepicker__day {
    color: #1ab188;
}

.react-datepicker__day:hover {
    background-color: #6ed6ba;
    color: #ffffff;
}

.react-datepicker__day--selected {
    background-color: #1ab188;
    color: #ffffff;
}

.react-datepicker__time-container {
    color: #ffffff;
    background-color: #132e2f;
    border-left: 1px solid #1ab188;
}

.react-datepicker__time-list-item {
    color: #1ab188;
    background-color: #184346;
}

.react-datepicker__time-list-item:hover {
    background-color: #6ed6ba;
}

.react-datepicker__navigation {
    background-color: transparent;
    border: 1px solid #1ab188;
}

.react-datepicker__navigation:hover {
    background-color: #6ed6ba;
}

.react-datepicker__year-dropdown,
.react-datepicker__month-dropdown {
    background-color: #184346;
    border: 1px solid #1ab188;
    border-radius: 15px;
    height: 180px;
    overflow-y: auto;
}

.react-datepicker__year-option,
.react-datepicker__month-option {
    background-color: #184346;
    color: #1ab188;
}

.react-datepicker__year-option:hover,
.react-datepicker__month-option:hover {
    background-color: #6ed6ba;
    color: #ffffff;
}

.react-datepicker-popper {
    margin-top: -30px;
    transform: translateX(-10px);
}

.react-datepicker__navigation--years-previous {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.react-datepicker__navigation--years-previous:hover {
    background-color: #6ed6ba00;
    color: #ffffff00;
    border-radius: 0;
}

.react-datepicker__year-dropdown .react-datepicker__year-option:last-child {
    background-color: none;
    color: #ffffff;
    font-weight: bold;
    border-radius: 8px;
    position: relative;
}

.react-datepicker__year-dropdown .react-datepicker__year-option:last-child::after {
    content: "\f063";
    font-family: "Font Awesome 5 Free";
    color: #ffffff;
    position: absolute;
    top: 20%;
}

.react-datepicker__year-dropdown .react-datepicker__year-option:last-child:hover {
    background-color: #6ed6ba;
    color: #ffffff;
}

.react-datepicker__year-dropdown .react-datepicker__year-option:first-child {
    background-color: none;
    color: #ffffff;
    font-weight: bold;
    border-radius: 8px;
    position: relative;
}

.react-datepicker__year-dropdown .react-datepicker__year-option:first-child::after {
    content: "\f062";
    font-family: "Font Awesome 5 Free";
    color: #ffffff;
    position: absolute;
    top: 20%;
}

.react-datepicker__year-dropdown .react-datepicker__year-option:first-child:hover {
    background-color: #6ed6ba;
    color: #ffffff;
}

.react-datepicker__navigation--years-upcoming {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container input {
    padding: 10px 16px;
    font-size: 1rem;
    color: #1ab188;
    background-color: #184346;
    border: 1px solid #1ab188;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    width: 100%;
    max-width: 500px;
}

.search-container input::placeholder {
    color: #6ed6ba;
    font-style: italic;
}

.search-container input:focus {
    border-color: #6ed6ba;
    box-shadow: 0 0 8px #6ed6ba;
}

.table2 {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1rem;
    text-align: left;
    background-color: none;
    color: #1ab188;
    border: none;
    overflow: hidden;
    max-height: 500px;
    overflow-y: auto;
}

.category-dialog select::-webkit-scrollbar,
.table2::-webkit-scrollbar {
    width: 8px;
}

.category-dialog select::-webkit-scrollbar-thumb,
.table2::-webkit-scrollbar-thumb {
    background-color: #1ab188;
    border-radius: 10px;
}

.category-dialog select::-webkit-scrollbar-thumb:hover,
.table2::-webkit-scrollbar-thumb:hover {
    background-color: #6ed6ba;
}

.category-dialog select::-webkit-scrollbar-track,
.table2::-webkit-scrollbar-track {
    background-color: #0d2628;
}

.table {
    width: 100%;
    max-height: 500px;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1rem;
    text-align: left;
    background-color: #0d2628;
    color: #1ab188;
    border: 1px solid #1ab188;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.table th, .table td {
    padding: 12px 16px;
    border: 1px solid #1ab188;
}

.table th {
    background-color: #1ab192;
    color: #184346;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.table td {
    background-color: #0f484c;
    color: #1ab188;
}

.table th.opt, .table td.opt {
    text-align: center;
    width: 20px;
}

.table .Edit {
    background: none;
    border: none;
    color: #1ab188;
    cursor: pointer;
    display: flex;
    transition: color 0.3s;
    margin-left: 15px;
}

.table td.icons {
    padding-right: 0;
    padding-left: 0;
    border: 1px solid #1ab189be;
    table-layout: fixed;
}

.table .Edit:hover {
    color: #6ed6ba;
}

.table .Edit i {
    font-size: 1.2rem;
}

.table .Delete {
    background: none;
    border: none;
    color: #ff4d4d;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s;
    margin-left: 15px;
    margin-top: 10px;
}

.table .Delete:hover {
    color: #ff6b6b;
}

.table .Delete i {
    font-size: 1.2rem;
}

.inactive {
    pointer-events: none;
    opacity: 0.5;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
}

.dialog {
    z-index: 200;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #184346;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.category-dialog {
    z-index: 200;
    position: fixed;
    left: 57%;
    top: 20%;
    background-color: #184346;
    border: none;
    border-radius: 8px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 350px;
    max-width: 400px;
    color: #1ab188;
    align-items: center;
}

.category-dialog h3 {
    font-size: 2.2rem;
    color: #1ab188;
}

.category-dialog h6 {
    color: #0c8667;
}

.category-dialog input,
.category-dialog select {
    margin-bottom: 15px;
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #1ab188;
    border-radius: 8px;
    outline: none;
    background-color: #132e2f;
    color: #fff;
}

.category-dialog input::placeholder {
    color: #a0b3b0;
    font-style: italic;
}

.category-dialog input:focus,
.category-dialog select:focus {
    border-color: #6ed6ba;
    box-shadow: 0 0 5px rgba(102, 230, 186, 0.8);
}

.category-dialog button {
    padding: 10px 15px;
    font-size: 1rem;
    color: #fff;
    background-color: #1ab188;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.category-dialog button:hover {
    background-color: #6ed6ba;
}

.category-dialog select option:checked {
    background-color: #6ed6ba;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 20px;
    background-color: #0f393a;
    border: 1px solid #1ab188;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}

.chart-container canvas {
    max-width: 100%;
    max-height: 300px;
}

.chart-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1ab188;
    margin-bottom: 10px;
}

.Buttons1 {
    padding: 8px 16px;
    font-size: 1rem;
    color: #fff;
    background-color: #1ab188;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    margin-bottom: 50px;
}

.Buttons1:hover{
  background-color: #6ed6ba;
}

.button-cat {
    margin-left: 25px;
    margin-bottom: 25px;
}

.Buttons2 {
    margin-left: 10px;
    margin-top: -10px;
}

.Buttons3 {
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 10px;
}

.ButtonsI {
    margin-left: 10px;
    margin-top: -10px;
    position: relative;
    left: -12px;
}

.ButtonsI-1 {
    margin-left: 10px;
    margin-top: -10px;
    position: relative;
    bottom: -15px;
    left: 15px;
}