.profile-icon-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-icon {
  position: fixed; 
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.profile-icon img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
