.home {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color: #1ab188;
    font-family: 'Arial', sans-serif;
    align-items: center;
    position: relative;
    min-height: 100vh;
  }
  
  .home h2 {
    font-size: 3rem;
    font-weight: 600;
    color: #1ab188;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    bottom: 100px;
  }
  
  .home h3 {
    font-size: 2.2rem;
    font-weight: 600;
    color: #1ab188;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    bottom: 190px;
  }

  .home label {
    font-size: 1.2rem;
    font-weight: 600;
    color: #1ab188;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    bottom: 125px;
  }

  .filter-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 20px;
    margin-top: 10px; 
    position: relative;
    bottom: 220px;
  }
  
  .filter-container label {
    font-size: 1rem;
    color: #1ab188;
    margin-bottom: 5px;
    position: relative;
    bottom: 0px;
  }
  
  .filter-container select,
  .filter-container input {
    padding: 3px;
    font-size: 1rem;
    border: 1px solid #1ab188;
    border-radius: 8px;
    outline: none;
    background-color: #132e2f;
    color: #fff;
    margin-top: 5px;
    width: 200px;
    height: 25px;
    position: relative;
    left: 200px;
  }
  
  .filter-container select:focus,
  .filter-container input:focus {
    border-color: #6ed6ba;
    box-shadow: 0 0 5px rgba(102, 230, 186, 0.8);
  }
  
  .filter-container button {
    padding: 10px 15px;
    font-size: 1rem;
    color: #fff;
    background-color: #1ab188;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px;
  }
  
  .filter-container button:hover {
    background-color: #6ed6ba;
  }

  .email-schedule {
    width: 50%;
    margin-bottom: 20px;
    margin-top: 10px;
    position: relative;
    bottom: 121px;
    left: 160px;
  }
  
  .email-schedule label {
    font-size: 0.9rem;
    color: #1ab188;
    left: 20px;
    padding: 7px;
    bottom: 110px;
  }
  
  .email-schedule select,
  .email-schedule input {
    padding: 3px;
    font-size: 0.7rem;
    border: 1px solid #1ab188;
    border-radius: 8px;
    outline: none;
    background-color: #132e2f;
    color: #fff;
    position: relative;
    bottom: 90px;
    left: 10px;
    width: 90px;
    height: 24px;
  }
  
  .email-schedule button {
    font-size: 0.8rem;
    color: #fff;
    background-color: #1ab188;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px;
    position: relative;
    bottom: 50px;
    left: -197px;
    width: 115px;
    height: 24px;
  }
  
  .email-schedule button:hover {
    background-color: #6ed6ba;
  }
  
  .charts-container {
    display: flex;
    justify-content: column;
    margin-top: 40px;
  }
  
  .chart-blockP {
    width: 100%;
    border-radius: 8px;
    padding: 20px;
    position: relative;
    bottom: 300px;
    left: 100px;
    width: 400px;
    height: 600px;
  }

  /*.chart-blockL {
    width: 100%;
    border-radius: 8px;
    padding: 20px;
    position: relative;
    bottom: 300px;
  }*/


  .chart-block h4 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1ab188;
    margin-bottom: 10px;
  }
  
  .buttonS,
  .buttonH {
    padding: 5px 4px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #1ab188;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: auto;
    margin-top: 26px;
    position: relative;
    bottom: 100px;
  }
  
  .buttonS {
    bottom: 100px;
    left: -120px;
    font-size: 0.7rem;
    width: 135px;
    height: 24px;
  }

  .buttonH {
    width: 100px;
    bottom: 140px;
    font-size: 0.8rem;
  }

  .buttonS:hover,
  .buttonH:hover{
    background-color: #6ed6ba;
  }

  .or-container {
    font-size: 0.8rem;
    font-weight: 600;
    color: #1ab189cd;
    text-align: center;
    position: relative;
    bottom: 121px;
    left: -10px;
  }
  