.home {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.home-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    background-color: #000000;
    color: white; 
    position: fixed; 
    top:0; 
    left:0; 
    right:0;
    z-index: 1000;
}

.menu-icon {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 15px;
}

.welcome-banner {
    position: fixed;
    top: 40px;
    left: 50px;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
    z-index: 1100;
}

.charts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.chart-block {
    flex: 1;
    min-width: 45%;
    background-color: #f9f9f9;
    padding: 11px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content {
    padding-top: 60px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 80px;
}

.block {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}