.home {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color: #1ab188;
    font-family: 'Arial', sans-serif;
    align-items: center;
    position: relative;
    min-height: 100vh;
  }
  
  .home h2 {
    font-size: 3rem;
    font-weight: 600;
    color: #1ab188;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .filter-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 20px;
  }
  
  .filter-container label {
    font-size: 1rem;
    color: #1ab188;
  }
  
  .filter-container select,
  .filter-container input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #1ab188;
    border-radius: 8px;
    outline: none;
    background-color: #132e2f;
    color: #fff;
    margin-top: 10px;
  }
  
  .filter-container select:focus,
  .filter-container input:focus {
    border-color: #6ed6ba;
    box-shadow: 0 0 5px rgba(102, 230, 186, 0.8);
  }
  
  .filter-container button {
    padding: 10px 15px;
    font-size: 1rem;
    color: #fff;
    background-color: #1ab188;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px;
  }
  
  .filter-container button:hover {
    background-color: #6ed6ba;
  }
  
  .email-schedule {
    width: 50%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .email-schedule label {
    font-size: 1rem;
    color: #1ab188;
  }
  
  .email-schedule select,
  .email-schedule input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #1ab188;
    border-radius: 8px;
    outline: none;
    background-color: #132e2f;
    color: #fff;
    margin-top: 10px;
  }
  
  .email-schedule button {
    padding: 10px 15px;
    font-size: 1rem;
    color: #fff;
    background-color: #1ab188;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px;
  }
  
  .email-schedule button:hover {
    background-color: #6ed6ba;
  }
  
  .charts-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  
  .chart-block {
    width: 48%;
    background-color: #0d2628;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .chart-block h4 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1ab188;
    margin-bottom: 10px;
  }
  
  .button {
    padding: 10px 15px;
    font-size: 1rem;
    color: #fff;
    background-color: #1ab188;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: 100%;
    margin-top: 20px;
  }
  
  .button:hover {
    background-color: #6ed6ba;
  }
  