:root {
  --body-bg: #c1bdba;
  --form-bg: #13232f;
  --blanco: #fff;
  --color-principal: #1ab188;
  --color-principal-light: #23c9a4;
  --color-principal-dark: #158e70;
  --gris-light: #a0b3b0;
  --gris: #ddd;
  --fuente-principal: "Ubuntu", helvetica, sans-serif;
  --fuente-secundaria: "Raleway", arial, sans-serif;



}

body {
  font-family: var(--fuente-principal);
  background-color: var(--body-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding: 20px;
}

.card {
  background-color:var(--form-bg);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  color: var(--blanco);
}

.title {
  font-size: 1.8rem;
  color: var(--blanco);
  font-weight: 600;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group label {
  display: block;
  font-weight: 500;
  color: var(--blanco);
  margin-bottom: 5px;
  font-size: 0.9rem;
}

.form-group input {
  padding: 13px;
  font-size: 1rem;
  width: 100%;
  flex: 1;
  border: 1px solid var(--gris-light);
  border-radius: 8px;
  outline: none;
  transition: border-color 0.2s;
  background: none;
  color: var(--blanco);
}

.form-group input:focus {
  border-color: var(--color-principal);
}

.button {
  background-color: var(--color-principal);
  color: var(--blanco);
  padding: 12px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: var(--color-principal-dark);
}

.message {
  margin-top: 20px;
  color: var(--blanco);
  font-size: 0.9rem;
}

.link-button {
  color: var(--color-principal);
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.link-button:hover {
  text-decoration: underline;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input-container .icon {
  position: absolute;
  left: 12px;
  font-size: 1rem;
  color: var(--gris-light) ;
}

.input-container input {
  flex: 1;
  padding-left: 35px;
  padding-right: 35px;
  width: 100%;
  font-size: 1rem;
  border: 1px solid var(--gris-light);
  border-radius: 8px;
  outline: none;
  transition: border-color 0.2s;
}

.input-container input:focus {
  border-color: var(--color-principal);
}
.input-container input::placeholder {
  color: #ffffff;
  opacity: 1;
}


.toggle-password {
  position: absolute;
  right: 12px;
  font-size: 1rem;
  color: var(--gris-light);
  cursor: pointer;
  transition: color 0.2s;
}

.toggle-password:hover {
  color: var(--color-principal-dark);
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('./assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
  filter: blur(3px);
  z-index: -1;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
}
