
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>PDF Report</title>
   <style>
       body {
           font-family: Arial, sans-serif;
           margin: 20px;
           color: #000;
       }

       h1 {
           text-align: center;
           color: #333; 
       }

       table {
           width: 100%;
           border-collapse: collapse;
           margin: 20px 0;
           font-size: 12px;
           text-align: left;
       }

       table thead {
           background-color: #d3d3d3; 
           color: #000; 
       }

       table th, table td {
           padding: 8px 10px;
           border: 1px solid #ddd;
       }

       table tbody tr:nth-child(even) {
           background-color: #f9f9f9; 
       }

       table tbody tr:hover {
           background-color: #f1f1f1;
       }

       img {
           display: block;
           margin: 20px auto;
           max-width: 80%;
           height: auto;
       }
   </style>
</head>
<body>
   <h1>Financial Report</h1>
   <h2>Transactions</h2>
   <table>
       <thead>
           <tr>
               <th>Category</th>
               <th>Type</th> 
               <th>Amount</th>
               <th>Description</th>
               <th>Date</th>
           </tr>
       </thead>
       <tbody>
        
           {% for transaction in transactions %}
           <tr>
               <td>
                   {% for category in transaction.categories.all %}
                       {{ category.category_name }}{% if not forloop.last %}, {% endif %}
                   {% endfor %}
               </td>
               <td>{{ transaction.get_type_display }}</td>
               <td>{{ transaction.mount }}</td>
               <td>{{ transaction.description }}</td>
               <td>{{ transaction.date }}</td>
           </tr>
           {% endfor %}
       </tbody>
   </table>

   <h2>Debts</h2>
    <table>
    <thead>
        <tr>
            <th>Lender</th>
            <th>Amount</th>
            <th>Interest</th>
            <th>Total Amount</th>
            <th>Status</th>
            <th>Init Date</th>
            <th>Due Date</th>
        </tr>
    </thead>
    <tbody>
        {% for debt in debts %}
        <tr>
            <td>{{ debt.lender }}</td>
            <td>{{ debt.amount }}</td>
            <td>{{ debt.interestAmount }}</td>
            <td>{{ debt.totalAmount }}</td>
            <td>{{ debt.get_status_display }}</td>
            <td>{{ debt.init_date }}</td>
            <td>{{ debt.due_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    <h2>Scheduled Transactions</h2>
    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Schedule Date</th>
                <th>Repeat</th>
            </tr>
        </thead>
        <tbody>
            {% for scheduled in scheduled_transactions %}
            <tr>
                <td>
                    {% for category in scheduled.categories.all %}
                        {{ category.category_name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>{{ scheduled.get_type_display }}</td>
                <td>$ {{ scheduled.amount }}</td>
                <td>{{ scheduled.description }}</td>
                <td>{{ scheduled.schedule_date }}</td>
                <td>{{ scheduled.repeat }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    

   <h2>Income line graph</h2>
   <img src="data:image/png;base64,{{ income_line_chart_base64 }}" alt="Incomes Graph">

   <h2>Expenses line graph</h2>
   <img src="data:image/png;base64,{{ expense_line_chart_base64 }}" alt="Expenses Graph">

   <h2>Income distribution by category</h2>
   <img src="data:image/png;base64,{{ income_pie_chart_base64 }}" alt="Income Distribution">

   <h2>Expenses distribution by category</h2>
   <img src="data:image/png;base64,{{ expense_pie_chart_base64 }}" alt="Expenses distribution">

   <h2>Financial Balances</h2>
<div style="margin: 20px auto; padding: 20px; max-width: 400px; border: 1px dashed #000; border-radius: 8px; background-color: #fff; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); font-family: 'Courier New', Courier, monospace;">
    <div style="text-align: center; margin-bottom: 10px;">
        <p style="font-size: 20px; font-weight: bold; color: #000; margin: 0;">Financial Report</p>
        <p style="font-size: 12px; color: #666; margin: 0;">{{ current_date }}</p>
    </div>
    <hr style="border: none; border-top: 1px solid #ddd; margin: 10px 0;">

    <!-- Main Balance -->
    <div style="margin-bottom: 15px;">
        <p style="font-size: 16px; font-weight: bold; color: #333; margin: 0;">Main Balance:</p>
        <p style="font-size: 14px; color: #000; margin: 5px 0;">Total Income: <span style="font-weight: normal;"> ${{ total_income }}</span></p>
        <p style="font-size: 14px; color: #000; margin: 5px 0;">Total Expenses: <span style="font-weight: normal;">${{ total_expenses }}</span></p>
        <!-- <p style="font-size: 14px; color: #000; margin: 5px 0;">Total Paid Debts: <span style="font-weight: normal;">${{ total_paid_debt }}</span></p>-->
        <hr style="border: none; border-top: 1px solid #ddd; margin: 10px 0;">
        <p style="font-size: 14px; color: #000; margin: 5px 0;">Total Income - Total Expenses - <!--Paid Debts-->: <span style="font-weight: normal;">{{ main_balance_message }}</span></p>
        <hr style="border: none; border-top: 1px solid #ddd; margin: 10px 0;">
    </div>

    <!-- Debt Balance -->
    <div style="margin-bottom: 15px;">
        <p style="font-size: 16px; font-weight: bold; color: #333; margin: 0;">Debt Balance:</p>
        <p style="font-size: 14px; color: #000; margin: 5px 0;">Pending Debts: <span style="font-weight: normal;">${{ total_pending_debt }}</span></p>
        <p style="font-size: 14px; color: #000; margin: 5px 0;">Overdue Debts: <span style="font-weight: normal;">${{ total_overdue_debt }}</span></p>
        <hr style="border: none; border-top: 1px solid #ddd; margin: 10px 0;">
        <p style="font-size: 14px; color: #000; margin: 5px 0;">Pending Debts + Overdue Debts: <span style="font-weight: normal;">{{ debt_balance_message }}</span></p>
        <hr style="border: none; border-top: 1px solid #ddd; margin: 10px 0;">
    </div>

    <!-- Suggested Balance -->
    <div>
        <p style="font-size: 16px; font-weight: bold; color: #333; margin: 0;">Suggested Balance:</p>
        <p style="font-size: 14px; color: #000; margin: 5px 0;">Main Balance: <span style="font-weight: normal;">{{ main_balance_message }}</span></p>
        <p style="font-size: 14px; color: #000; margin: 5px 0;">Debts Balance: <span style="font-weight: normal;">{{debt_balance_message }}</span></p>
        <hr style="border: none; border-top: 1px solid #ddd; margin: 10px 0;">
        <p style="font-size: 14px; color: #000; margin: 5px 0;">Main Balance - Debt Balance: <span style="font-weight: normal;">{{ suggested_balance_message }}</span></p>
        <hr style="border: none; border-top: 1px solid #ddd; margin: 10px 0;">
    </div>

    <hr style="border: none; border-top: 1px dashed #ddd; margin: 20px 0;">
    <p style="text-align: center; font-size: 12px; color: #666; margin: 0;">Thank you for reviewing your finances!</p>
</div>

   



</body>
</html>
